[submodule "userapp_env/workspace"]
	path = userapp_env/workspace
	url = ../userapp-workspace.git
[submodule "tools/userapputil"]
	path = tools/userapputil
	url = ../userapp-util.git
[submodule "src/lib"]
	path = src/lib
	url = ../lib-ledfw.git
