[submodule "userapp_env/workspace"]
	path = userapp_env/workspace
	url = ../ledfw-userapp-workspace.git
[submodule "tools/userapputil"]
	path = tools/userapputil
	url = ../ledfw-userapp-util.git
[submodule "src/lib"]
	path = src/lib
	url = ../ledfw-lib.git
[submodule "src/external/nRF5"]
	path = src/external/nRF5
	url = ../ledfw-external-nrf5-sdk.git
